@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
  display: block;
}

* {
  font-family: "Plus Jakarta Sans", Sans-serif;
  /* outfit  */
}

.prata-regular {
  font-family: "Prata";
  font-weight: 400;
  font-style: normal;
}

/* Hide the scrollbar on web browser */
::-webkit-scrollbar{
  display: none;
}

/* For smaller screens (phones)
@media (max-width:640px) {
  a.active{
      background-color: black;
      color: white;
  }
} */